@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600;700&display=swap');
$theme-font: 'El Messiri', sans-serif;
$theme-color: #eb0000;
$bcolor: #000;
$wcolor: #fff;
$black-opacity: rgba($bcolor, 0.3);